.list {
  display: flex;
  flex-flow: row;

  > div {
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    > a {
      text-decoration: none;
      color: white;
    }

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}
